snippet context_call
  context.call(${1:fun}, {
    ${2:param}
  }, ${3:callback});

snippet context_async
  context.async(${1:fun}, {
    ${2:param}
  });

snippet context_callback
  context.call(${1:fun}, function(err) {
    ${2}
  });
